.error-wrapper{
  background: #942d2d;
  padding: 20px;
}
.aircraft-details{
  position: fixed;
  width: 45%;
  /*background: #222222;*/
  background: #222631;
  top: 0;
  height: 100%;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  border-left: 1px solid #5d5d5d;
  border-left: 1px solid #3b3a36;
}
.edit-mode{
/*  border: 10px solid #da5616;*/
}
.aircraft-details .header{
/*  background: #000;*/
  background: #222631;
  position: fixed;
  z-index: 9000;
  width: 45%;
  height: 125px;
  text-align: left;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #919191;
  border-bottom: 1px solid #3b3a36;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.aircraft-details .header .actions{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 10px;
}
.aircraft-details .header button{
  margin-left: 10px;
}
.aircraft-details img{
  max-width: 100%;
  width: 250px;
}
.details-wrapper{
  display: block;
  margin-top: 125px;
}
.details-entry{
  display: flex;
  justify-content: space-between;
  background: #5e594c;
  padding: 10px;
}
.muted{
  opacity: .6;
  margin-right: 10px;
}
.images-wrapper{
  display: block;
}
.images{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 10px;
}
.images .entry{
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
  border: 2px dashed #FFF;
  transition: all .5s;
}
.images .entry .inner{
}
.images .entry.selected{
  padding: 10px;
  border: 2px dashed #000;
  background: #EEEEEE;
  background: rgb(159 239 45 / 44%);
  background: #9fef2d;
  background: rgb(239 189 45 / 48%);
  border-radius: 40px;
  background: #efbd2d;
}
.images .entry.selected img{
  border-radius: 80px;
}
.images .entry .description{
  color: #000;
}
.images .entry.saved{
}
.image-saved-label{
  background: rgb(159 239 45 / 44%);
/*  background: rgb(0 0 0 / 46%);*/
/*  background: rgb(0 0 0 / 38%);*/
  color: #000;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
}
.image-saved-label-inner{
  width: 100%;
  text-transform: uppercase;
  font-size: 30px;
  text-shadow: 0 0 10px #000;
  color: #ffffff63;
}
.summary{
/*  background: #1b1b1a;*/
  padding: 10px;
}
.edit-images{
  background: #da5616;
  background: #efbd2d;
  padding: 20px;
}
pre{
  background: #000;
  color: #e0e0e0;
  font-size: 10px;
  padding: 5px;
}
.aircraft-details input
{
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px dashed #efbd2d;
  border-radius: 10px;
  font-family: unset;
  font-size: 14px;
  color: unset;
  padding: 10px;
}
.aircraft-details textarea{
  width: 100%;
  max-width: 100%;
  min-height: 250px;
  height: 100%;
  background: none;
  border: 1px dashed #efbd2d;
  border-radius: 10px;
  font-family: unset;
  font-size: 14px;
  color: unset;
  padding: 10px;
}
input:focus,
textarea:focus
{
  outline: none;
  border: 2px dashed #efbd2d;
}
