@import './base.css';
body {
  color: #EEE;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
a,
.green {
  text-decoration: none;
  color: #5873c5;
  transition: 0.4s;
  padding: 3px;
}

.loader-wrapper{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loader-wrapper div{
  display: block;
}
.loader{
  width: 27px;
  height: 1px;
  border: 1px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation .5s linear infinite;
}
@keyframes rotation{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (hover: hover) {
  a:hover {
    background-color: #131414;
  }
}
@media (min-width: 1024px) {
  body {
  }

  #app {
  }
}
