@import './base.css';
body {
  color: #EEE;
  background: #141412;
  background-image: url('C-1098_-_A_stacked-down_echelon_of_P-51_Mustang_fighters_heading_homeward_after_an_uneventful_bomber_escort_mission_over_Europe_52289765424.jpg');
  background-position: center -83px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: monospace;
  /*unicode-bidi: isolate;*/
  font: Inconsolata, monospace;
}

#app {
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  justify-content: center;
}
.sidebar-menu-fixed{
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  background: #000;
  background: #00000099;
  background: #0d0c0ede url(dark-mosaic.png) repeat;
  /*background: #3b3832eb url(dark-mosaic.png) repeat;*/
  background: #181715d9 url(dark-mosaic.png) repeat;
  border-bottom: 1px solid #2f2f2f;

  width: 300px;
  left: 0;
  height: 100%;
}
.sidebar-menu-wrapper{
  width: 100%;
  display: block;
  margin-top: 59px;
}
.sidebar-menu-wrapper .menu-entry{
  display: block;
  width: 100%;
}
.background-overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #00000099, url(dark-mosaic.png) repeat;
  background: rgba(0,0,0,0.7343312324929971) url(dark-mosaic.png) repeat;

  background: rgb(37,36,34), url(dark-mosaic.png) repeat;
  background: -moz-linear-gradient(180deg, rgba(37,36,34,0) 5%, rgba(64,61,54,0.7343312324929971) 50%, rgba(73,70,62,0.5410539215686274) 100%);
  background: -webkit-linear-gradient(180deg, rgba(37,36,34,0) 5%, rgba(64,61,54,0.7343312324929971) 50%, rgba(73,70,62,0.5410539215686274) 100%);
  background: linear-gradient(180deg, rgba(37,36,34,0) 5%, rgba(64,61,54,0.7343312324929971) 50%, rgba(73,70,62,0.5410539215686274) 100%), url(dark-mosaic.png) repeat;
  background: linear-gradient(180deg, rgba(37,36,34,0) 5%, rgba(64,61,54,0.7343312324929971) 50%, rgba(73,70,62,0.5410539215686274) 100%), url(3px-tile.png) repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#252422",endColorstr="#49463e",GradientType=1);

/*  background:linear-gradient(
      180deg,
      rgba(37,36,34,0) 5%,
      rgba(0,0,0,0.6) 35%,
      rgba(64,61,54,0.73) 50%,
      rgba(73,70,62,0.54) 65%,
      rgba(0,0,0,0.6) 75%,
      rgba(0,0,0,0.8) 85%,
      rgba(0,0,0,0.4) 100%
    ),
    url(3px-tile.png) repeat;*/
/*  opacity: 0.7;*/
/*  background: rgba(0,0,0,0.73) url(dark-mosaic.png) repeat;*/
  background: rgba(0,0,0, 0.5) url(dark-mosaic.png) repeat;
  background: linear-gradient(180deg, rgba(0,0,0,0.2) 5%, rgba(0,0,0,0.4) 25%, rgba(64,61,54,0.7343312324929971) 50%, rgba(73,70,62,0.5410539215686274) 100%), url(3px-tile.png) repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0.4) 25%, rgb(34 33 31 / 73%) 50%, rgba(73, 70, 62, 0.5410539215686274) 100%), url(3px-tile.png) repeat;
  background: linear-gradient(180deg, rgb(0 0 0 / 0%) 5%, rgb(0 0 0 / 45%) 25%, rgb(34 33 31 / 73%) 50%, rgba(73, 70, 62, 0.5410539215686274) 100%);
}
.main-wrapper{
  max-width: 1280px;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 73px 41px;
}
.filters-wrapper{
  position: fixed;
  height: calc(100vh - 120px);
  width: 300px;
  overflow-y: scroll;
  scrollbar-color: #a5a29a #464646;
  scrollbar-width: thin;
  background: rgb(0 0 0 / 55%);
  padding-top: 35px;
}
.filters-wrapper .header{
  position: fixed;
  align-items: center;
  display: flex;
  width: 300px;

  background: #000;
  background: #141412;
  border-bottom: 1px solid #5b4f2d;
  color: #efbd2d;
  color: #d3ad3e;

  height: 35px;

  margin-top: -35px;
}
.filters-wrapper .header .header-tab{
  cursor: pointer;
  margin-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
}
.filters-wrapper .header .header-tab.active{
  border-bottom: 1px solid #efbd2d;
  color: #efbd2d;
  font-weight: bold;
  transition: all .5s;
}
.filters-wrapper .entry{
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-color: #a5a29a #464646;
  scrollbar-width: thin;
}
.filters-wrapper .entry .list-entry{
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 1px dashed #5d5947;
  transition: all .3s;
}
.filters-wrapper .entry .list-entry.active{
  background: #49463e;
  padding: 5px;
}
.filters-wrapper .entry .list-entry span{
  margin-right: 10px;
  display: inline-block;
}
.aircraft-wrapper{
  position: fixed;
  overflow: hidden;
  display: block;
  margin-left: 300px;
  height: calc(100vh - 120px);
  overflow-y: scroll;
  scrollbar-color: #a5a29a #464646;
  scrollbar-width: thin;
  width: 550px;
  background: rgb(0 0 0 / 80%);
  background: rgb(0 0 0 / 29%);
  padding-top: 35px;
}
.aircraft-wrapper:focus{
  outline: none;
}
.aircraft-wrapper .header{
  position: fixed;
  display: flex;
  align-items: center;
  width: 550px;

  background: #000;
  background: #141412;
  border-bottom: 1px solid #5b4f2d;
  color: #efbd2d;

  padding: 4px 0;

  height: 35px;
  margin-top: -35px;
}
.aircraft-details{
  position: fixed;
  width: 45%;
  width: 555px;
  max-width: 650px;
  background: #000;
  background: #141412;
  background: #141412bd;
  height: calc(100vh - 120px);
  overflow-y: scroll;
  scrollbar-color: #a5a29a #464646;
  scrollbar-width: thin;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  margin-left: 850px;
  padding-top: 35px;
}
.aircraft-details .header{
  position: fixed;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;

  background: #141412;
  border-bottom: 1px solid #5b4f2d;
  color: #efbd2d;
  padding: 3px 0;

  width: 555px;
  max-width: 600px;
  height: 35px;
  margin-top: -35px;
  z-index: 9999;
}
a{
  text-decoration: none;
  color: #5873c5;
  color: #6c88de;
  color: #5f74b3;
  color: #7891db;
  border-bottom: 1px solid #5f74b3;
  transition: 0.4s;
  padding: 3px;
  margin-right: 6px;
}
a:hover{
  color: #efbd2d;
  border-bottom: 1px solid #efbd2d;
  transition: 0.4s;
}
.button{
  border-radius: 4px;
  border: none;
  padding: 5px 13px;
}
.button-close{
  cursor: pointer;
  background: none;
  border: 1px solid #efbd2d;
  color: #efbd2d;
  font-size: 16px;
  padding: 3px 11px;
  border-radius: 4px;
  opacity: 0.9;
  transition: all .5s;
  margin-right: 4px;
}
.button-close:hover{
  transition: all .5s;
  opacity: 0.9;
  border-radius: 8px;
}
.navigation-menu-collapsed{
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #49463e;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  transition: all 0.4s;
}
.navigation-menu-collapsed:hover{
  opacity: 0.8;
}
.navigation-menu{
  display: flex;
  align-items: center;
  padding: 5px;
  align-items: center;
}
.navigation-menu a{
  display: inline-flex;
}
.loading-text{
  font-size: 10px;
  color: #7ed54b;
}
@keyframes rotation{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (hover: hover) {
  a:hover {
    background-color: #131414;
  }
}
@media (min-width: 1320px) and (max-width: 1530px) {
  .aircraft-wrapper, .aircraft-wrapper .header{
    width: 410px;
  }
  .aircraft-details{
    margin-left: 710px;
  }
}
@media (min-width: 1280px) and (max-width: 1319px) {
  .aircraft-wrapper, .aircraft-wrapper .header{
    width: 380px;
  }
  .aircraft-details{
    margin-left: 680px;
  }
}
@media (min-width: 550px) and (max-width: 1319px) {
  .main-wrapper{
    max-width: unset;
    margin: 0;
    margin-top: 50px;
  }

  .filters-wrapper, .aircraft-wrapper, .aircraft-details{
    height: calc(100vh - 50px);
  }

  .aircraft-wrapper, .aircraft-wrapper .header{
    width: 380px;
  }
  .aircraft-details{
    margin-left: 0px;
    right: 0;
  }
}
@media (max-width: 549px) {
  .main-wrapper{
    max-width: unset;
    margin: 0;
    margin-top: 50px;
  }

  .filters-wrapper, .aircraft-wrapper, .aircraft-details{
    height: calc(100vh - 50px);
  }

  .filters-wrapper, .filters-wrapper .header{
    width: 50%;
  }

  .aircraft-wrapper, .aircraft-wrapper .header{
    width: 50%;
    right: 0;
  }

  .aircraft-details, .aircraft-details .header{
    margin-left: 0px;
    right: 0;
    background: #141412;
    width: 100%;
  }
}
.loader-wrapper{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loader-wrapper div{
  display: block;
}
.loader {
  color: #555555;
}
.loader,
.loader div {
  box-sizing: border-box;
}
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: loader 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes loader {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}
