@import './base.css';
body {
  color: #EEE;
}
#app {
  /*max-width: 1280px;*/
  margin: 0 auto;
  /*padding: 2rem;*/
  font-weight: normal;
}
.top-bar-fixed{
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  background: #000;
  border-bottom: 1px solid #2f2f2f;
}
.main-wrapper{
  margin-top: 47px;
}

.filters-wrapper{
  position: fixed;
  height: 100%;
  width: 300px;
  overflow-y: scroll;
  scrollbar-color: #a5a29a #464646;
  scrollbar-width: thin;
  background: rgb(0 0 0 / 77%);

  padding-top: 35px;
}
.filters-wrapper .header{
  position: fixed;
  display: flex;
  width: 300px;

  background: #000;
  border-bottom: 1px solid #5b4f2d;
  color: #efbd2d;
  color: #d3ad3e;

  margin-top: -35px;
}
.filters-wrapper .header .header-tab{
  cursor: pointer;
  margin-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
}
.filters-wrapper .header .header-tab.active{
  border-bottom: 1px solid #efbd2d;
  color: #efbd2d;
  font-weight: bold;
  transition: all .5s;
}

.filters-wrapper .entry{
/*  position: fixed;*/
/*  display: block;*/
/*  margin-left: 300px;*/
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-color: #a5a29a #464646;
  scrollbar-width: thin;
/*  width: 600px;*/
  background: rgb(0 0 0 / 87%);
}

.filters-wrapper .entry .list-entry{
  display: block;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 1px dashed #5d5947;
  transition: all .3s;
}
.filters-wrapper .entry .list-entry.active{
  /*background: #9fef2d;*
  /*color: #000;*/
  background: #49463e;
  padding: 5px;
}
.filters-wrapper .entry .list-entry span{
  margin-right: 10px;
  display: inline-block;
}

.aircraft-types-wrapper{
  background: purple;
}


.aircraft-wrapper{
  position: fixed;
  overflow: hidden;
  display: block;
  margin-left: 300px;
  height: 100%;
  overflow-y: scroll;
  scrollbar-color: #a5a29a #464646;
  scrollbar-width: thin;
  width: 600px;
  background: rgb(0 0 0 / 87%);
}
a{
  text-decoration: none;
  color: #5873c5;
  color: #6c88de;
  transition: 0.4s;
  padding: 3px;
}
.button{
  border-radius: 4px;
  border: none;
  padding: 5px 13px;
}
.button-close{
  background-color: #ac3c3c;
  color: #FFFFFF;
  cursor: pointer;
}
.navigation-menu{
  display: flex;
  align-items: center;
  padding: 5px;
}
.loading-text{
  font-size: 10px;
  color: #7ed54b;
}
@keyframes rotation{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (hover: hover) {
  a:hover {
    background-color: #131414;
  }
}
@media (min-width: 1024px) {
  body {
  }

  #app {
  }
}

.loader-wrapper{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loader-wrapper div{
  display: block;
}
.loader {
  color: #555555;
}
.loader,
.loader div {
  box-sizing: border-box;
}
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: loader 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader div:nth-child(2) {
  animation-delay: -0.5s;
}
.title-wrapper{
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
}
@keyframes loader {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}
